<style type="text/css">
    a {text-decoration: none; color: inherit;}
    body {letter-spacing: 0.1rem; color: #776f70;}

    .block {margin: 30px 0 15px 0;}

    .bg {
        height: 60px;
        background-color: #333333;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: small;
        font-weight: 600;
        color: #c4c4c4;
    }

    .hidden {display: none; visibility: hidden;}
    .overflowHidden {overflow: hidden;}

    .top-block {
        align-items: center;
        font-size: x-large;
        font-weight: 600;
    }

    .top-block_logo {color: #fd9c3a;}

    .top-block_mobile-contact {text-align: end;}

    .nav_items {
        height: 60px;
    }

    .nav_item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #333333;
        font-size: small;
        font-weight: 600;
    }

    .nav_item span {color: #c4c4c4;}
    .nav_item:hover span {color: #fd9c3a;}

    .nav_item:hover {
        height: 100%;
        background-color: rgb(20, 20, 20);
        border-bottom: solid  #fd9c3a 4px;
    }

    .reg {
        width: 300px;
        margin: 0 auto;
    }

    .reg_block {
        margin: 34px 0;
    }

    .reg-btn {margin-top: 18px;}

    .created-by {text-align: end;}
</style>